@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white; /* Light text */
}

.login-container {
  background-color: #1e1e1e; /* Dark grey background for the container */
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 350px;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444; /* Dark border for input fields */
  background-color: #333; /* Darker input field background */
  color: white;
  margin-bottom: 10px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #00b0f0;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #007bba;
}

.or {
  color: #bbb;
  margin: 15px 0;
  font-size: 14px;
}

.social-login {
  display: flex;
  justify-content: space-between;
}

.social-btn {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.steam-btn {
  background-color: #1b2838;
}

.discord-btn {
  background-color: #5865f2;
}

.social-btn:hover {
  opacity: 0.8;
}
